/* Add Some Responsive ness for the website */

/* For Desktop Tablets and larger screen  */
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .job_for_open,.pr_ol{
    display: flex;
  }
  .mn {
    margin-top: 5em;
  }

  /* Additional Styles for child_nav */
  .right {
    box-shadow: 0px 6px 6px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 1em;
    width: 97.8vw;
    border-radius: 0.5em;
    z-index: 99;
    transition: top 0.5s ease-in-out;
  }

  .right.hidden {
    top: -50px;
  }

  .right a:hover {
    background-color: #ddd;
    color: rgb(215, 59, 210);
    border-radius: 0.3em;
  }

  /* showing  my photo */
  .xpc {
    /* parent container for the adj_txt and pr_img img */
    text-align: center;
    justify-content: space-around;
  }

  .adj_txt {
    display: flex;
    /* align-content: space-around; */
  }

  .pr_img img {
    margin-left: 20vw;
    width: 300px;
    border: 4px solid yellow;
    height: fit-content;
    box-sizing: border-box;
    height: 300px;
    border-radius: 400px;
    margin-top: 10px;
  }
}
/* For Smaller Screen  */
@media screen and (max-width: 600px) {
  .right a:not(:first-child) {
    display: none;
  }

  .right a.icon {
    float: right;
    display: block;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mn {
    margin-top: 5em;
  }

  /* Additional Styles for child_nav */
  .right {
    box-shadow: 0px 6px 6px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 1em;
    width: 94vw;
    border-radius: 0.5em;
    z-index: 99;
    transition: top 0.5s ease-in-out;
  }

  .right.hidden {
    top: -50px;
  }

  .right a:hover {
    background-color: #ddd;
    color: rgb(215, 59, 210);
    border-radius: 0.3em;
  }
  .bar3 {
    margin-right: 4px;
  }
  .right.responsive {
    position: relative;
  }

  .right.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .pr_img img {
    display: none;
  }
}
